# Secrets
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Deployment artifacts
*.tar.gz

# Dependencies & build
node_modules/
.next/
admin/node_modules/
admin/dist/
driver/node_modules/
driver/dist/
